:local {
    .container {
        padding: 20px;
        background-color: cadetblue;
        border-radius: 20px;
        width: 200px;
        margin: 20px 0;
        color: white;

        svg {
            width: 50px;
        }
    }
}